@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Kumbh+Sans:wght@100..900&family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Kumbh+Sans:wght@100..900&family=Roboto:wght@400;500;700&display=swap');
body{
    color: var(--font-color) !important;
    font-family: "Epilogue", serif !important;
    font-weight: 400;
    font-size: 20px;
    background-color: var(--white) !important;
}
h1{
    font-weight: 500;
    font-size: 65px;
    color: var(--heading-font-color);
    margin-bottom: 17px;
    line-height: 1.2;
    @include bp(lg-max){
        font-size: 68px;
    }
    @include bp(sm-max){
        font-size: 58px;
    }
}
h2{
    line-height: 1.5;
    font-weight: 500;
    color: var(--heading-font-color);
    font-size: 40px;
    margin-bottom: 20px;
}
span{
    display: inline-block;
}
.container{
    max-width: 1540px;
    margin: 0 auto;
    padding: 0 50px;
    @include bp(lg-max){
        padding: 0 25px;
    }
}
.btn{
    display: inline-block;
    text-decoration: none;
    padding: 10px 61px 6px 33px;
    color: var(--white);
    background-color: var(--yellow-btn-bg);
    border-radius: 50px;
    font-weight: 700;
    line-height: 1.9;
    border: 1px solid var(--yellow-btn-bg);
    transition: 0.5s all;
    &:hover{
        color: var(--yellow-btn-bg);
        background-color: var(--white); 
    }
}
.banner-section{
    position: relative;
    padding: 145px 0;
    &::before{
        background: linear-gradient(89.9deg, #FFFFFF 0.09%, #FFFFFF 32.87%, rgba(255, 255, 255, 0.738308) 54.28%, rgba(255, 255, 255, 0) 81.05%);
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;
        content: '';
        top: 0;
        left: 0;
    }
    .banner-image-block{
        position: absolute;
        inset:0;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .banner-content-block{
        z-index: 1;
        position: relative;
        max-width: 512px;
        span{
            font-weight: 700;
            font-size: 26px;
            margin-bottom: 22px;
            color: var(--heading-font-color);
            display: block;
        }
        .content{
            font-size: 18px;
            font-weight: 500;
            line-height: 1.7;
            margin-bottom: 19px;
        }
    }
}
.market-analysis-section{
    padding: 50px 0 70px;
    p{
        font-size: 32px;
        font-weight: 500;
        line-height: 1.8;
        text-align: center;    
        margin-bottom: 45px;   
        span{
            background: -webkit-linear-gradient(#0F9FFE, #704AF2);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
    .market-analysis--grid-block{
        display: flex;
        flex-wrap: wrap;
        padding: 30px 63px 34px;
        background-color: var(--white);
        box-shadow: 0px 5.66176px 14.1544px rgba(0, 0, 0, 0.13);
        border-radius: 36px;
        .market-analysis-grid{
            flex: 0 0 33.33%;
            max-width: 33.33%;
            padding: 0 20px;
            span{
                &.title{
                    background: -webkit-linear-gradient(#0F9FFE, #704AF2);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    font-size: 41px;
                    font-weight: 700;
                    margin-bottom: 8px;
                }    
            }
            h3{
              font-size: 25px;  
              font-weight: 500;
              color: var(--heading-font-color);
              line-height: 1.6;
              margin-bottom: 6px;
              span{
                display: block;
              }
            }
            p{
                line-height: 1.5;
                font-size: 16px;
                text-align: left;
                margin: 0;
            }
        }
    }
}
