.industry-section{
    padding: 60px 0;
    .industry-block{
        padding: 91px 0;
        position: relative;
        background: linear-gradient(to bottom, #3171DE, #4AC0F2);
        border-radius: 40px;
        overflow: hidden;
        .content-block{
            padding: 0 60px;            
            max-width: 578px;
            h2{
                font-size: 48px;
                color: var(--white);
            }
            .content{
                margin-bottom: 29px;
                p{
                    color: var(--industryblock-font-color);
                    font-size: 19px;
                    line-height: 1.5;
                }
            }
        }
        .img-block{
            position: absolute;
            right: -31.8%;
            border-radius: 40px;
            top: 41px;
            border: 10px solid var(--industryblock-image-border-color);
            overflow: hidden;
        }
    }
}