/* General */
$fontSize: 1.6rem;
$borderRadius: 0.6rem;
$transitionDuration: 0.2s;

:root {
  --white: #ffffff;
  --black: #000000;
  --font-color: #525252;
  --heading-font-color: #3D3D3D;
  --font-color-1: #212121;
  --yellow-btn-bg: #FFA500;
  --blue-btn-bg: #0F9FFE;
  --body-bg: #F5F5F5;
  --border-color: #E2E2E2;
  --grid-font-color: #666666;
  --trustOrg-bg: #F7F7FD;
  --border-color-1:#F0F0F6;
  --counting-heading-color:#1E1B39;
  --counting-font-color:#6E6C83;
  --counting-border-color:#DEDEE9;
  --slider-arrow-color:#292D32;
  --white-btn-text-color: #5E5DEF;
  --contact-section-bg: #1B2439;
  --contact-section-font-color: #A2A9B0;
  --contact-section-heading-color: #F8F9FA;
  --placeholder-color:#CFD3D7;
  --textfild-bg: #3B4857;
  --textfild-border-color: #636D79;
  --breadcrumb-bg: #F1F1F1;
  --breadcrumb-font-color: #49545C;
  --btn-text-color: #3275DF;
  --industryblock-font-color: #EAEBEC;
  --industryblock-image-border-color: #5E697A;
} 
