/* General */
$fontSize: 1.6rem;
$borderRadius: 0.6rem;
$transitionDuration: 0.2s;

:root {
  --white: #ffffff;
  --font-color: #525252;
  --heading-font-color: #3D3D3D;
  --font-color-1: #212121;
  --yellow-btn-bg: #FFA500;
  --blue-btn-bg: #0F9FFE;
  --body-bg: #F5F5F5;
  --border-color: #E2E2E2;
  --grid-font-color: #666666;
  --trustOrg-bg: #F7F7FD;
  --border-color-1:#F0F0F6;
  --counting-heading-color:#1E1B39;
  --counting-font-color:#6E6C83;
  --counting-border-color:#DEDEE9;
  --slider-arrow-color:#292D32;
  --white-btn-text-color: #5E5DEF;
} 
